Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Left
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
PenaltyReturnTypeOnItsOwnLine: 1000

BinPackArguments: true

# also consider this being false
BinPackParameters: true

SortIncludes: true

---
Language: JavaScript
DisableFormat: true
